@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{margin: 0;
    padding: 0;
    
  
}
body{
    background-color: black;
    
    

}
p{
   
    margin-left: 40%;
    margin-right: 50%;
  
    justify-content:center;
    color: rgb(0, 195, 255);
    font-family: 'DotGothic16', sans-serif;
    font-size: 50px;
    
}
span {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 100px;
}